* {
  margin: 0; /*Elimina los margenes*/
  padding: 0; /*Elimina los rellenos*/
  box-sizing: content-box; /*Incluye el padding y border detro del tamaño del elemeto*/
}

body {
  display: flex; /* Usa flexbox para el diseño del cuerpo */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  min-height: 100vh; /* Altura mínima de la ventana */
  background: #262a33; /* Color de fondo */
}

.menu {
  position: relative; /* Posiciona relativamente el contenido para que los hijos absolutos se ubiquen respecto a este */
  width: 280px; /* Ancho */
  height: 280px; /* Altura */
  display: flex; /* Flex para centrar el contenido */
  align-items: center; /* Centrado de forma vertical */
  justify-content: center; /* Centrado de forma horizontal */
}

.menu .toggle {
  position: relative; /* Posición relativa para animación o elementos internos */
  height: 60px; /* Altura */
  width: 60px; /* Anchura */
  background: #fff; /* Color de fondo */
  border-radius: 50%; /* Bordes redondeados */
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15); /* Sombra */
  display: flex; /* Centrado de icono dentro del botón */
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  color: #333; /* Color de icono */
  font-size: 2rem; /* Tamaño de icono */
  cursor: pointer; /* Manita al pasar el cursor */
  transition: 1.25s; /* Animación suave al momento de activarse */
  z-index: 1000; /* Asegura que el botón esté por encima de los íconos */
}

.menu li {
    position: absolute; /*posiciona los iconos absolutamente dentro del menu*/
    left: 0; /*inicia desde el lado izquierdo*/
    list-style: none; /*quita los estilos de la lista predetermiada*/
    transition: 0.5s; /*alineacion para mostrar los iconos*/
    transform: rotate(calc(360deg / 8 * var(--i))); /*gira el icono segun el indice para formar un icono*/
    transform-origin: 140px; /*punto de rotacion a 140px del centro*/ 
    scale: 0; /*inicialmente oculto*/ 
    transition-delay: calc(0.5s * var(--i)); /*retraso escalonado para animacion en cascada*/ 
}

.menu.active li {
    scale: 1; /*muestra los iconos en escala 1 cuando el menu esta activo*/
}

.menu li a {
    position: relative; /*posicina relativamente para posibles efectos*/ 
    display: flex; /*flexbox para centrar icono*/ 
    transform: rotate(calc(360 / 8 * var(--i))); /*gira el icono en sentido contrario para que se vea recto*/ 
    width: 60px; /*ancho*/ 
    height: 60px; /*alto*/ 
    background-color: #fff; /*color de fondo*/ 
    align-items: center; /*centrado vertical*/ 
    justify-content: center; /*centrado horizontal*/ 
    border-radius 50%; /*bordes redondeados*/ 
    font-size: 1.75rem; /*tamano del icono*/ 
    color: var(--clr); /*usa el color predeterminado de cada red social*/ 
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15); /*sombra*/ 
    transition: 0.5s; /*transicion suave para efectos*/
}